input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
body {
  font-family: "Poppins", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
section {
  margin: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  display: flex;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bolder;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: hsl(259, 100%, 65%);
  cursor: pointer;
}
.label {
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 4px;
  color: hsl(0, 1%, 44%);
}

.span {
  font-weight: bold;
  font-size: 48px;
  color: hsl(259, 100%, 65%);
}

.age {
  font-weight: bolder;
  font-size: 84px;
  margin: -32px;
}
.age:nth-child(1) {
  margin-top: 32px;
}

.mid {
  display: flex;
  align-items: center;
}

.solid {
  height: 1px; 
  border-right: 374px solid #bbb;
}
button {
  background-color: hsl(259, 100%, 65%);
  border: none;
  border-radius: 100%;
  width: 68px;
  height: 68px;
}

button:hover {
  background-color: hsl(0, 0%, 8%);
  cursor: pointer;
}
